.Answers_all {
	display: flex;
	flex-direction: column;
	margin: 40px;
}

.Answer_button {
	background-color: grey;
	border-radius: 13px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-weight: 100;
	margin: 10px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	word-break: normal;
}

.Answer_button:hover {
	background: gray;
	background-image: linear-gradient(to bottom, #959595, #b3b3b3);
	border-radius: 13px;
	text-decoration: none;
}

.Button_next-answer {
	background-color: #3ea540;
	border-radius: 13px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-weight: 100;
	margin: 50px;
	padding: 14px;
	text-align: center;
	text-decoration: none;
}

.Button_next-answer:hover {
	background: #1eab20;
	background-image: linear-gradient(to bottom, #1eab20, #6ad56b);
	border-radius: 13px;
	text-decoration: none;
}
