.Answers_all {
	display: flex;
	flex-direction: column;
}

.Answer_button {
	background-color: grey;
	border-radius: 13px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 28px;
	font-weight: 100;
	margin: 1%;
	padding: 1%;
	text-align: center;
	text-decoration: none;
}

.Answer_button:hover {
	background: gray;
	background-image: linear-gradient(to bottom, #959595, #B3B3B3);
	border-radius: 13px;
	text-decoration: none;
}

.Button_next-answer {
	border-radius: 13px;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 28px;
	font-weight: 100;
	padding: 14px;
	background-color: #3EA540;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-align: center;
}

.Button_next-answer:hover {
	background: #1EAB20;
	background-image: linear-gradient(to bottom, #1EAB20, #6AD56B);
	border-radius: 13px;
	text-decoration: none;
}
