.Feedback .sub-div {
  align-items: center;
  background: white;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  width: 1000px;
}

.Feedback .sub-div p {
  color: black;
  font-family: Roboto, Arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  height: 50px;
  margin: 2px;
  text-decoration: none;
  width: 374px;
}

.Feedback .sub-div .title-feedback {
  color: black;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  height: 50px;
  margin: 2px;
  margin-top: 20px;
  text-decoration: none;
  width: 374px;
}

.Feedback .sub-div a {
  background: #f0f0f0;
  border: 1px solid black;
  color: black;
  font-family: Roboto, Arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  height: 50px;
  margin: 2px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 374px;
}

.Feedback .sub-div .green {
  background: #86d660;
}
